<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige vers l'URL sans slash final si ce n'est pas un dossier
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Envoie toute requête qui ne correspond pas à un fichier/dossier réel
    # vers le contrôleur frontal
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
